/* INDEX */

body {
    background-color: rgb(243, 233, 241);
}
.card-by-default {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(178, 110, 155);
}
.footer-list {
    list-style-type: none;
}
.border-my-own-color {
    border-top: 2px solid rgb(178, 110, 155);
}
.height-by-default { /* img in index page */
    height:230px;
}
.more-details-button { /*more details button in index page*/
    background-color: rgb(190, 117, 121);
    border:1px solid rgb(190, 117, 121);
}

/* PRODUCT PAGE */

.product_img-height { /*img in product page*/
    height:280px;
}

/* BASKET PAGE */

.border_basket {
    border: 1px solid rgb(178, 110, 155);
    border-radius: 20px;
}

@media screen and (max-width: 1600px){

    /*card containing img in index page*/

    .card-by-default {
        margin-bottom: 50px;;
    }
    
}