/* INDEX */

body {
    background-color: rgb(243, 233, 241);
}
.card-by-default {
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(178, 110, 155);
}
.footer-list {
    list-style-type: none;
}
.border-my-own-color {
    border-top: 2px solid rgb(178, 110, 155);
}
.height-by-default { /* img in index page */
    height:230px;
    object-fit: cover;
}
.more-details-button { /*more details button in index page*/
    background-color: rgb(190, 117, 121);
    border:1px solid rgb(190, 117, 121);
}

/* PRODUCT PAGE */

.product_img-height { /*img in product page*/
    height:280px;
}

/* BASKET PAGE */

.border_basket {
    border: 1px solid rgb(178, 110, 155);
    border-radius: 20px;
    overflow: hidden;
}
.basket_img_height {
    object-fit: cover;
    height: 260px;
    width: 100%;
}
.basket-font {
    font-size: 1.2em;
}

/*RESPONSIVE PART*/

@media screen and (max-width: 1600px){

    /*card containing img in index page*/

    .card-by-default {
        margin-bottom: 50px;;
    }
    
}
@media screen and (max-width: 996px) {

    /*FOOTER RESPONSIVE DESIGN*/

    .footer-list {
        padding-left: 0;
        flex-direction: column;
        align-items: center !important;
    }
    .footer-list > li {
        font-size: 0.9em;
    }
    .footer-responsive {
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width: 768px) {

    .footer-list > li {
        font-size: 1em;
    }

}
@media screen and (max-width: 660px){
    .basket-font {
        font-size: 1em;
    }
}
@media screen and (max-width: 575px){
    .product_caption {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .basket_quantity_responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .basket_input_position {
        justify-content: center;
        display: flex;
        margin-bottom: 15px;
    }
    .basket-font {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 450px) {

    .navbar-brand > img {
        width:230px;
    }
    .basket-font-responsive {
        font-size: 1.5em;
    }
}


